* {
	overflow-y: hidden;
}
body {
	background-color: black;
	margin: 0;
	padding: 0;
}
.game-container {
	display: flex;
	justify-content: center;
}
.hide-controls:hover {
	padding: 2%;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	z-index: 10;
}
.hide-controls{
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	z-index: 10;
}
#fullscreen-btn {
	display:none;
}
.show-controls {
	color: rgba(120, 10, 10, 0.75);
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	left: 50%;
	display: flex;
	align-items: center;
}
#loading-screen {
	font-size: 1em;
	color: white;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
}
